---
import type { Link } from "../../types";
type Props = Link;

const { href, innerText } = Astro.props;
---

<li>
    <a href={href}>
        {innerText}
    </a>
</li>

<style>
    a {
        display: block;
        padding-block: 1.2rem;
        border-bottom: 4px solid transparent;
        color: var(--color-gray-50);
        text-decoration: none;
        transition: 0.2s ease-in-out;
        transition-property: color, border-bottom;
    }

    a:hover {
        color: var(--color-primary-gray-100);
        border-bottom: 4px solid var(--color-primary-green);
    }
</style>
