---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import bgMobile from "@assets/bg/bg-intro-mobile.svg";
import mockup from "@assets/articles/image-mockups.png";
import Button from "@components/Button.astro";
import Wrapper from "@layouts/Wrapper.astro";
---

<Layout>
    <main>
        <div class="mockup-container">
            <Image src={mockup} alt="Mockup" class={"mockup-image"} />
            <Image src={bgMobile} alt="Mobile Background" />
        </div>
        <Wrapper>
            <h1>Next Generation Digital Banking</h1>
            <p>
                Take your financial life online. Your Digitalbank account will be a one-stop-shop for spending, saving,
                budgeting, investing, and much more.
            </p>
            <Button>Request Invite</Button>
        </Wrapper>
    </main>
</Layout>

<style>
    .mockup-container {
        position: relative;
    }

    .mockup-image {
        position: absolute;
        top: -5.6rem;
        left: 0%;
        z-index: 1;
    }
</style>
