---
import type { MetaTags } from "../types";
import Layout from "../layouts/Layout.astro";
import H1 from "../components/ui/H1.astro";
import Nav from "../components/navigation/Nav.astro";

const MetaTags: MetaTags = {
    title: "Frontend Mentor | Next generation digital banking"
};
---

<Layout MetaTags={MetaTags}>
    <Nav />
    <H1>Next generation digital banking</H1>
</Layout>
