---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import bgMobile from "@assets/bg/bg-intro-mobile.svg";
---

<Layout>
    <main>
        <Image src={bgMobile} alt="Mobile Background" />
        <h1>Next Generation Digital Banking</h1>
    </main>
</Layout>
