<button>
    <slot />
</button>

<style>
    button {
        background: linear-gradient(to right top, var(--primaryCyan), var(--primaryGreen));
        border: none;
        border-radius: 50px;
        color: white;
        padding: 0.8rem 1.6rem;
        font-weight: bold;
        cursor: pointer;
        font-family: inherit;
    }
</style>
