---
import Nav from "./Nav.astro";
import logo from "@assets/logos/logo-dark.svg";
import { Image } from "astro:assets";
---

<header>
    <Image src={logo} alt="logo" />
    <Nav />
    <button>Request Invite</button>
</header>
