---
import Nav from "./Nav.astro";
import logo from "@assets/logos/logo-dark.svg";
import { Image } from "astro:assets";
import Hamburger from "./Hamburger.astro";
import Button from "./Button.astro";
---

<header>
    <Image src={logo} alt="logo" />
    <Hamburger class="fn-hamburger" />
    <div class="navigation">
        <Nav />
        <Button />
    </div>
</header>

<style>
    header {
        --header-height: 4.6rem;
        position: sticky;
        top: 0;
        z-index: 100;

        display: flex;
        align-items: center;
        justify-content: space-between;

        height: var(--header-height);
        padding-inline: 1.4rem;

        .fn-hamburger:checked ~ .navigation {
            display: block;
            opacity: 1;
        }

        .navigation {
            display: none;
            position: fixed;
            inset: 0;
            top: var(--header-height);
            background-color: rgba(0, 0, 0, 0.4);
            opacity: 0;
            text-align: center;
            transition: 0.3s ease-in-out opacity;
        }
    }
</style>
