---
import Nav from "./Nav.astro";
import logo from "@assets/logos/logo-dark.svg";
import { Image } from "astro:assets";
import Hamburger from "./Hamburger.astro";
---

<header>
    <Image src={logo} alt="logo" />
    <Hamburger />
    <div class="navigation">
        <Nav />
        <button>Request Invite</button>
    </div>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navigation {
            display: none;
        }
    }
</style>
