---
import Logo from "./Logo.astro";
import NavLinks from "./NavLinks.astro";

const links = [
    { href: "/", innerText: "Home" },
    { href: "#", innerText: "About" },
    { href: "#", innerText: "Contact" },
    { href: "#", innerText: "Blog" },
    { href: "#", innerText: "Careers" }
];
---

<nav>
    <Logo theme="dark" />
    <NavLinks links={links} />
</nav>
