---
import NavList from "./NavList.astro";

const items = [
    { text: "Home", href: "#" },
    { text: "About", href: "#" },
    { text: "Contact", href: "#" },
    { text: "Blog", href: "#" },
    { text: "Careers", href: "#" }
];
---

<nav>
    <NavList {items} />
</nav>

<style>
    nav {
        margin-inline: 1.4rem;
        border-radius: 4px;
        background: white;
    }
</style>
