---
import type { NavItemType } from "@types";

type Props = NavItemType;
const { text, href } = Astro.props as Props;
---

<li>
    <a href={href}>{text}</a>
</li>

<style>
    li {
        a {
            display: block;
            padding-block: 1rem;

            text-decoration: none;
            color: black;
        }
    }
</style>
