---
import Wrapper from "@layouts/Wrapper.astro";
import online from "@assets/icons/icon-online.svg";
import budgeting from "@assets/icons/icon-budgeting.svg";
import onboarding from "@assets/icons/icon-onboarding.svg";
import api from "@assets/icons/icon-api.svg";
import Image from "astro/components/Image.astro";
---

<section>
    <Wrapper>
        <div class="features-info">
            <h2>Why choose Digitalbank?</h2>
            <p>
                We leverage Open Banking to turn your bank account into your
                financial hub. Control your finances like never before.
            </p>
        </div>
        <div class="features">
            <div class="feature">
                <Image src={online} alt="Online Banking Icon" />
                <h3>Online Banking</h3>
                <p>
                    Our modern web and mobile applications allow you to keep
                    track of your finances wherever you are in the world.
                </p>
            </div>
            <div class="feature">
                <Image src={budgeting} alt="Simple Budgeting Icon" />
                <h3>Simple Budgeting</h3>
                <p>
                    See exactly where your money goes each month. Receive
                    notifications when you’re close to hitting your limits.
                </p>
            </div>
            <div class="feature">
                <Image src={onboarding} alt="Fast Onboarding Icon" />
                <h3>Fast Onboarding</h3>
                <p>
                    We don’t do branches. Open your account in minutes online
                    and start taking control of your finances right away.
                </p>
            </div>
            <div class="feature">
                <Image src={api} alt="Open API Icon" />
                <h3>Open API</h3>
                <p>
                    Manage your savings, investments, pension, and much more
                    from one account. Tracking your money has never been
                    easier.Why choose Digitalbank?
                </p>
            </div>
        </div>
    </Wrapper>
</section>

<style>
    .features-info {
        margin-block: var(--sectionGap);
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-block: var(--sectionGap);
    }

    .feature {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
            margin-inline: auto;
        }
    }
</style>
