---
import { Image } from "astro:assets";
import articlePlane from "@assets/articles/image-plane.jpg";
import articleCurrency from "@assets/articles/image-currency.jpg";
import articleConfetti from "@assets/articles/image-confetti.jpg";
import articleRestaurant from "@assets/articles/image-restaurant.jpg";
import Wrapper from "@layouts/Wrapper.astro";
---

<section>
    <Wrapper>
        <h2>Latest Articles</h2>
        <article>
            <Image class={"article-image"} src={articleCurrency} alt="currency article image" />
            <div class="article-description">
                <small>By Claire Robinson</small>
                <h3>Receive money in any currency with no fees</h3>
                <p>
                    The world is getting smaller and we’re becoming more mobile. So why should you be forced to only
                    receive money in a single …
                </p>
            </div>
        </article>
        <article>
            <Image class={"article-image"} src={articleRestaurant} alt="restaurant article image" />
            <div class="article-description">
                <small>By Wilson Hutton</small>
                <h3>Treat yourself without worrying about money</h3>
                <p>
                    Our simple budgeting feature allows you to separate out your spending and set realistic limits each
                    month. That means you …
                </p>
            </div>
        </article>
        <article>
            <Image class={"article-image"} src={articlePlane} alt="plane article image" />
            <div class="article-description">
                <small>By Wilson Hutton</small>
                <h3>Take your Digitalbank card wherever you go</h3>
                <p>
                    We want you to enjoy your travels. This is why we don’t charge any fees on purchases while you’re
                    abroad. We’ll even show you …
                </p>
            </div>
        </article>
        <article>
            <Image class={"article-image"} src={articleConfetti} alt="confetti article image" />
            <div class="article-description">
                <small>By Claire Robinson</small>
                <h3>Our invite-only Beta accounts are now live!</h3>
                <p>
                    After a lot of hard work by the whole team, we’re excited to launch our closed beta. It’s easy to
                    request an invite through the site ...
                </p>
            </div>
        </article>
    </Wrapper>
</section>

<style>
    article {
        text-align: start;
    }

    .article-image {
        border-radius: 4px 4px 0 0;
    }

    .article-description {
        padding: 1.4rem 2rem;
    }
</style>
