---
import Header from "@components/Header.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Digital Bank Landing Page</title>
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>

<style is:global>
    :root {
        --fontFamily: "Public Sans, sans-serif, serif";

        --mobile: 375px;
        --desktop: 1440px;

        --primaryBlue: hsl(233, 26%, 24%);
        --primaryGreen: hsl(136, 64%, 51%);
        --primaryCyan: hsl(192, 69%, 51%);
        --neutralGrayHigh: hsl(233, 8%, 62%);
        --neutralGrayMedium: hsl(220, 16%, 96%);
        --neutralGrayLight: hsl(0, 0%, 98%);
        --neutralWhite: hsl(0, 100%, 100%);
    }

    body {
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
        font-size: 18px;
        margin: 0;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        text-wrap: balance;
    }

    p {
        text-wrap: pretty;
    }
</style>
