---
import Header from "@components/Header.astro";
import { FONT } from "@css-constants";

const { family } = FONT;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Digital Bank Landing Page</title>
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>

<style define:vars={{ family }}>
    body {
        font-family: var(--family);
        margin: 0;
    }
</style>
