---
const { class: className } = Astro.props;
---

<div class=`${className ? "wrapper " + className : "wrapper"}`>
    <slot />
</div>

<style>
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding-inline: 1rem;
    }
</style>
